a:link, a:visited {
	color: #086A9E;
}

body {
	margin: 3px 0px;
	background-color: #FFFFFF;
}

body, td {
	font: 10pt Arial, Helvetica, sans-serif;
	color: #000000;
}

img {
	border: 0;
}

table td {
	vertical-align: top;
}

input, select {
	font: 10pt Arial, Helvetica, sans-serif;
}

form {
	display: inline;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

table,tr,td {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}

a.pri {
	font-weight: bold;
}

a:hover.pri {
	text-decoration: none;
}

/*  centering via bluerobot.com */
#wrapper {
	position: relative;
	margin: 0 auto;

	text-align: left;
	width: 765px;
	z-index: 0;
}

#main {
	width: auto;
	margin: 0;
	padding: 0 20px 13px;
}

.hidden {
	display: none;
}

/* ===================================== */
.__________FORM_ELEMENTS___________ {}
/* ===================================== */

input, select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;

	
}

select.location {
	width: 180px;
}
select.day, select.count {
	width: 45px;
	margin-right: 7px;
}
select.month {
	width: 128px;
}
input.button {
	padding: 2px 5px;
	margin-right: 20px;
}
input.radio {
	background: transparent;
}



/* BUTTONS -=-=-=-=-=-=-=-=-=-=- */

span.button {
	background: transparent url(../images/button_back.gif) left bottom no-repeat;
	height: 30px;
	display: block;
	
	float: left;
	width: 80px;
}

span.button span {
	background: transparent url(../images/button_right.gif) no-repeat right bottom;
	display: block;
	height: 30px;
}

span.button a {
	display: block;
	padding-top: 7px;
	text-align: center;
	text-decoration: none;
	
	color: #FFFFFF !IMPORTANT;
	font: bold 11pt Arial, Helvetica, sans;
	
	cursor: pointer;
	cursor: hand;
	
	height: 30px;
	voice-family: "\"}\""; voice-family:inherit;
	height: 23px;
}

span.button span input  {
	color: #ffffff !IMPORTANT;
	display: block;
	padding-top: 7px;
	text-align: center;
	text-decoration: none;
	border: 0px solid #ffffff;

	background: transparent;
	
	cursor: pointer;
	cursor: hand;
	
	font: bold 11pt Arial, Helvetica, sans;
}

html>body span.button a {
	height: 23px;
}


span.secondary {
	background-position: left top;
	padding-left: 5px;
}

span.secondary span {
	background-position: right top;
}

/* ===================================== */
.____________CONTENT_____________ {}
/* ===================================== */

#wrapper table, #wrapper td, #wrapper tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: top;
}


#wrapper #content, #wrapper .contentarea {
	font: 9pt/11pt Arial, Helvetica, sans-serif;
	padding: 12px 10px 50px 20px;
	
	width: 445px;
	voice-family: "\"}\""; 
	voice-family:inherit;
	width: 415px;
	
}
html>body #wrapper #content {
	width: 415px;
}
#wrapper .contentarea {
	padding-top: 0;
}

#wrapper #content.wide {
	width: 590px;
	voice-family: "\"}\""; 
	voice-family:inherit;
	width: 560px;
}

html>body #wrapper #content.wide {
	width: 560px;
}
#content.flex {
	width: auto;
}


#content a {
	color: #1A6896;
	font-weight: bold;
}

#content a:hover {
	text-decoration: none;
}

#content ul {
	margin-left: 1em;
	padding-left: .8em;
}

#content li {
	padding-bottom: 1em;
	font-size: 10pt;
	line-height: 12pt;
}

#contentnav {
	color: #333333;
	font: 9pt Arial, Helvetica, sans-serif;
	margin-bottom: 1em;
	padding: 0 0 1em 0;
	width: 12em;
	float: right;
}

#contentnav li {
	border-bottom: 2px solid #FFFFFF;
	margin: 0;
}

#contentnav li a {
	background-color: #EEEEEE;
	color: #2D4D71;
	display: block;
	padding: 5px 5px 5px 0.5em;
	text-decoration: none;
	width: 100%;
}

#contentnav li a:hover {
	background-color: #DFDFDF;
}

#contentnav li a.selected, #contentnav li a:hover.selected {
	background-color: #CCCCCC;
}

#contentnav ul {
	border: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

span.req {
	font-weight: bold;
	color: #900;
}


h1, #content h1 {
	color: #055A8D;
	font: bold 11pt/11pt Arial, Helvetica, sans-serif;
	margin-top: 0;
	padding-bottom: 4px;
}
#content h1.withsub {
	color: #055A8D;
}
#content h1.before {
	margin-bottom: 22px;
}

#content h2 {
	color: #1C94C0;	
	font: bold 17pt/17pt Arial, Helvetica, sans-serif;
	margin-top: 0;
	padding-bottom: 5px;
}

#content h3 {
	color: #333333;
	font: bold 11pt/11pt Arial, Helvetica, sans-serif;
	margin-top: 20px;
	margin-bottom: 1px;
}

#content h4 {
	font: bold 10pt/12pt Arial, Helvetica, sans-serif;
	margin-top: 1em;
	margin-bottom: -1em;
}

#content p {
	margin: 1em 0;
}

#content,#content p,#content td,#content th {
	font-size: 10pt;
	line-height: 13pt;
}

#content p.first {
	font: 10pt/12pt Arial, Helvetica, sans-serif;
}

#content .right p {
	margin: 1em 0;
}

#content #progress {
	margin: -6px 0 20px -5px;
}


#content #nohead	{
margin-top: 1em;
}


#content div.wrapright {
	position: relative;
	margin-top: 0em;
	}



#content img.right {
	
	float: right;
	margin: 1em 0 15px 15px;
	
	
}

#content img.left {
	float: left;
	margin: 0.5em 15px 15px 0;
}

#content img.border {
	border: 1px solid #000;
}

#content .icon {
	width: 400px;
}

#content .icon img {
	float: left;
}

#content .icondesc {
	float: left;
	clear: right;
}

#content .vert-mid {
	vertical-align: middle;
}


#wrapper table.thumbnails {
	margin-top: 15px;
}
#wrapper table.thumbnails td {
	padding-right: 10px;
}

#wrapper table.formtable td {
	padding: 3px 8px 3px 0;
}

#wrapper table.formtable td.label {
	font-weight: bold;
	text-align: right;
	padding-top: 5px;
	
}

table.striped {
	margin-top: 10px !IMPORTANT;
	width: 90%;
	/*ie5.5 hack*/
	width: /**/100%;
}

table.striped input	{
margin-top: -1.5px;
}


table.pricelist	td.price	{
text-align: left;
width: 40px;
white-space: nowrap;

}

table.pricelist	td.range	{
width: 73px;

}

table.striped td, #content table.striped th {
	padding: 2px 7px !IMPORTANT;
	
}

table.striped th {
	font-weight: bold;
}

table td.right, table th.right {
	text-align: right;
}

table .left {
	text-align: left;
}

table.striped tr {
	background: #E8E8E8;
}

table.striped tr.odd {
	background: #F0F0F0;
}

table.striped tr.odd_color {
	background-color: red;
}

table.striped thead tr {
	background: transparent;
}

table.striped tr.hr td {
	padding-top: 9px !IMPORTANT;
	background: transparent !IMPORTANT;
}

table.striped hr {
	display: none;
}

table.twocol {
	width: 100%;
}

table.twocol .half {
	width: 50%;
}

table.twocol .third {
	width: 70%;
}


span.right	{
float: right;
}

span.left	{
text-align: left;
}

span.th	{
font-size: 10pt;
font-weight: bold;
}

/* ===================================== */
._________COLUMNS__________ {}
/* ===================================== */

#content div.half {
	width: 240px;
	/*float: left;*/
}

#content div.third {
	width: 60%;
	float: left;
}

#content div.quarter {
	float: left;
}

#content div.left {
	float: left;
	margin-right: 0px;
	padding:0;
}

#content div.right {
	float: right;
	margin-bottom: 12px;
	margin-left: 20px;
	width: 196px;
	padding:0 0 0 0;
}



#content div.column {
	width: 196px;
	margin-left: 0px;
	margin-right:0px;
	padding-bottom: 1em;
}

.clear	{
clear: both;
}


/* ===================================== */
._________WIDE_LAYOUT__________ {}
/* ===================================== */

body.home #content.wide	#rightcol	{
width:90%;
}

#content.wide div.column	{
width: 270px;
}

#content.wide div.left	{
float: left;
margin-right: 0px;

}

#content.wide div.right	{
width: 270px;
}


/* more right */
#content.more_right div.right	{
	width: 310px;
}
	
#content.more_right div.column	{
	margin-left:0px;

}

#content.more_right div.left	{
	width:230px;
}


/* more left */
#content.more_left div.right	{
width: 205px;
	}
	
#content.more_left div.column	{
	margin-left:0px;
}

#content.more_left div.left	{
width: 345px;
}

#content.wide table.striped	{
width: 90%;
voice-family: "\"}\""; 
	voice-family:inherit;
	width: 100%;
}
	
html>body #content.wide table.striped {
	width: 100%;
}



/* ===================================== */
.____________HEADER_____________ {}
/* ===================================== */

#header {
	display: none;
}

#plogo {
	display: block;
}

/* ===================================== */
.____________FOOTER_____________ {}
/* ===================================== */

#footer ul {
	display: none;
}

#legal {
	padding-top: 15px;
	color: #000000;
	font-size: 9pt;
	line-height: 9pt;
}

/* ===================================== */
.____________NAV_____________ {}
/* ===================================== */

#subnav {
	display: none;
}

#right {
	display: none;
}

/* --------------------
   content styles
   -------------------- */

#content p.note,#content .note p {
	font-style: italic;
}

#content p.smallnote,#content .smallnote p {
	font-weight: normal;
	font-size: 8pt;
}

#content p.error,#content .error p {
	font-size: 10pt;
	font-weight: bold;
	color: #c00;
}

#content p.legal,#content .legal p {
	font-size: 8pt;
	line-height: 10pt;
}


#content #formbox {
	border: 1px solid #055B8E;
	padding: 10px 10px 10px 10px;
	background-color: #E4E5E5;
	position: relative;
	
}

#content #formbox table {
	border-collapse: collapse;
	border-spacing: 0;
}


#content #formbox table td {
	padding: 2px 0px;
	margin: 0;
	
}

#content #formbox td.label {
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}


#content #formbox h3 {
	color: #055A8D;
	margin-top: 0;
	margin-bottom: 8px;
	font-size: 14pt;
	text-transform: lowercase;
}


#content #formbox.center h3 {
	text-align: center;
}

#content #formbox .vertmid {
	vertical-align: middle;
	padding-right: 6px;
}

/*judd 8/20 */
#content #formbox	img.box_icon	{
margin-right: 10px; 
position: absolute;
left:5px;


}

#content #formbox div.msg		{
position: relative;
margin-left: 30px;
top: 0px;
}

#content #formbox div.msg	h4	{
margin-top:0px;
}

#content #formbox div.msg	p	{
margin-bottom:0px;
}

#content #formbox.webcast	{
width: 350px; 
padding: 12px 10px;

}



#content #formbox.quicklinks ul	{
margin-top: 15px;
}



#content #formbox ul	{
list-style-type: none;
margin-left: 0px;
padding-left: 0em;
padding-bottom: 0px;
margin:0;

}

#content #formbox ul ul	{
margin-left: 10px;
margin-bottom: 0px; 
margin-top: 0px !IMPORTANT;

}

#content #formbox ul li, #content #formbox.quicklinks li	{
padding: 0;
font-size: 10pt;
padding-bottom: .5em;
}

#content #formbox ul	a {
font-size: 10pt;
text-decoration: underline;
}

#content #formbox ul	a.current {
font-size: 10pt;
text-decoration: none;
}

#content #formbox ul.bullets	{
list-style: disc inside;
margin-left: 0px;
padding-left: 0em;
padding-bottom: 0px;
margin:0;


}


#content #formbox ul.bullets li	{
padding: 0;
font-size: 10pt;
padding-bottom: .5em;

}

#content #formbox #rightcol ul {
	margin: 0 0 18px 12px; 
	padding: 0;
}

#content #formbox #rightcol li  {
	margin: 0; 
	padding: 0 0 1px;
	display: block;
	list-style: none;
}

#content #formbox #rightcol ul	a {

font: bold 11pt Arial, Helvetica, sans-serif;
	color: #1B91BE;
	text-decoration: none;
}

#formbox #rightcol li a, #formbox #rightcol h4  {
	font: bold 11pt Arial, Helvetica, sans-serif;
	color: #1B91BE;
	text-decoration: none;
}

#formbox #rightcol li a:hover	{
	text-decoration: underline;
}

#content #formbox ul  a:hover	{
text-decoration: none;
}




#content div.floatRight {
	float: right;
	margin-bottom: 12px;
	margin-left: 20px;
	width: 196px;
	padding:0 0 0 0;
}


#content div.align_h3	{
	margin-top: 20px;
}

#content div.autowidth {
	width: auto;

}


#content .spacer	{
clear: both;
}

